
.around-image
{
    max-height: 60%;
    min-height: 50%;
}
.image 
{
    max-width: 400px;
    max-height: 400px;
    min-width: 250px;
    min-height: 300px;
    -webkit-animation: action 2s infinite  alternate;
    animation: action 2s infinite  alternate;
}

@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-40px); }
}

@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-40px); }
}

.current
{
    background-color: #0d6efd;
    border:2px solid #0d6efd;
    border-radius: 20px 0px;
}


.content 
{
    height: 500px;
}

.glass-effect
{
    background-color: rgba(225, 18, 18, 0.15);  
    backdrop-filter: blur(5px);
}
.content
{
    height: 600px;
}
.image img
{
    width: 100%;
    height: 100%;
}
.text-col
{
    max-height: 40%;
    min-height: 30%;
}
.content-text
{
    font-size: 40px;
    text-shadow: 2px 2px 5px #161280;
}

.about-app
{
    color: white;
}
.content-part::before
{
    content: "";
    position: absolute;
}
.content-part:nth-child(odd)
{
    position: relative;
    height: 400px;
    background-color: rgba(45, 57, 70, 0.4);
}
.content-part:nth-child(even)
{
    height: 400px;
}

/*tooltip*/

#tool-tip-pocetna
{
    padding: 10px;
    border-radius: 20px 0px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    text-align: center;
}
#tool-tip-pocetna:hover
{
    background-color: #0d6efd;
    border: 0;
    transition: 500ms;
}
#tool-tip-pocetna img
{
    width: 32px;
    height: 32px;
    padding: 2px 5px 5px 5px;
}
::ng-deep .mat-tooltip {
    font-size: 0.75rem !important;
}
.current-page
{
    height: 100px;
}

.button
{
    box-shadow: 0 0 10px 5px #0bb9fe;
}