:host{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;

}

.Sadrzaj{
    padding: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.zaglavlje{
    position: sticky; top: 0;
    z-index: 5;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    z-index: -1;
    background-image: linear-gradient(to bottom, #03045e, #011167, #001d70, #002778, #003180, #003a88, #00438f, #004c96, #00579f, #0062a7, #006caf, #0077b6);
    object-fit: cover;
}
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;

  }


@media (max-width:767px) {
    #myVideo{
        display: none;
    }
    ::ng-deep body{
        background: url("../../../assets/image/mainbackground.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}