
<div class="container">
  <form [formGroup]="forma" #FormaZaHParametre>
    <div class="row justify-content-center">
      
        <div class="col-md-auto">
          <mat-form-field appearance="fill" class="selektorAktivacioneFje">
            <mat-label>Tip problema</mat-label>
            <mat-select formControlName="TipProblema">
              <mat-option value="regresija">
                Regresija
              </mat-option>
              <mat-option value="klasifikacija">
                Klasifikacija
              </mat-option>
            </mat-select>
            <mat-error *ngIf="TipProblema && TipProblema.invalid">Izaberite tip problema</mat-error>
          </mat-form-field>
        </div>
        <!-- Ako je regresija -->
        <div class="col-md-auto" *ngIf="TipProblema.value=='regresija'">
          <mat-form-field appearance="fill" class="selektorAktivacioneFje">
            <mat-label>Mera greske</mat-label>
            <mat-select formControlName="MeraGreske">
              <mat-option value="mse">
                mse
              </mat-option>
              <mat-option value="rmse">
                rmse
              </mat-option>
              <mat-option value="mae">
                mae
              </mat-option>
            </mat-select>
            <mat-error *ngIf="MeraGreske && MeraGreske.invalid">Izaberite tip problema</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-auto" *ngIf="TipProblema.value=='regresija'">
          <mat-form-field appearance="fill" class="selektorAktivacioneFje">
            <mat-label>Mera uspeha</mat-label>
            <mat-select formControlName="MeraUspeha">
              <mat-option value="mse">
                mse
              </mat-option>
              <mat-option value="rmse">
                rmse
              </mat-option>
              <mat-option value="mae">
                mae
              </mat-option>
            </mat-select>
            <mat-error *ngIf="MeraUspeha && MeraUspeha.invalid">Izaberite tip problema</mat-error>
          </mat-form-field>
        </div>

        <!-- Ako je regresija -->
        <div class="col-md-auto" *ngIf="TipProblema.value=='klasifikacija'">
          <mat-form-field appearance="fill" class="selektorAktivacioneFje">
            <mat-label>Mera greske</mat-label>
            <mat-select formControlName="MeraGreske">
              <mat-option value="accuracy">
                accuracy
              </mat-option>
              <mat-option value="precision">
                precision
              </mat-option>
              <mat-option value="recall">
                recall
              </mat-option>
              <mat-option value="f1">
                f1
              </mat-option>
            </mat-select>
            <mat-error *ngIf="MeraGreske && MeraGreske.invalid">Izaberite tip problema</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-auto" *ngIf="TipProblema.value=='klasifikacija'">
          <mat-form-field appearance="fill" class="selektorAktivacioneFje">
            <mat-label>Mera uspeha</mat-label>
            <mat-select formControlName="MeraUspeha">
              <mat-option value="accuracy">
                accuracy
              </mat-option>
              <mat-option value="precision">
                precision
              </mat-option>
              <mat-option value="recall">
                recall
              </mat-option>
              <mat-option value="f1">
                f1
              </mat-option>
            </mat-select>
            <mat-error *ngIf="MeraUspeha && MeraUspeha.invalid">Izaberite tip problema</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-auto">
          <mat-form-field appearance="fill" class="selektorAktivacioneFje">
            <mat-label>Broj epoha</mat-label>
            <input matInput type="number" formControlName="BrojEpoha" min="{{MinBrojEpoha}}">
            <mat-error *ngIf="BrojEpoha.errors?.['required']">
              Unesite broj epoha
            </mat-error>
            <mat-error *ngIf="BrojEpoha.errors?.['min']">
              Najmanji broj epoha je {{MinBrojEpoha}}
            </mat-error>
            <mat-error *ngIf="BrojEpoha.errors?.['max']">
              Maksimalni broj epoha je {{MaxBrojEpoha}}
            </mat-error>
            
          </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-5" style="background: #01315d6e;padding: 10px;">
        <h4 style="text-align: center;color: white;">Procenat podataka za testiranje</h4>
        <ngx-slider [(value)]="value" [options]="options" id="slajderZaPodatke" formControlName="odnosPodataka"></ngx-slider>
      </div>
    </div>
    

    <div class="row justify-content-center" style="margin-top: 10px;">
      <div class="col-md-auto" id="BrojSkrivenihSlojevaSelektor">
        <label>Izaberi broj skrivenih slojeva</label>
        <ngx-number-spinner class="Brojac"
            [value]="trenutniBrojSkrivenihSlojeva"
            (change)="change($event,-1)"
            [min]="0"
            [max]="5">
        </ngx-number-spinner>
      </div>
    </div>

    <div class="row justify-content-center gx-5" id="TreciRed" formArrayName="ListaSkrivenihSlojeva">
      <div class="col-md-2" *ngFor="let item of ListaSkrivenihSlojeva.controls ;index as i;" >
        <div [formGroupName]="i">
          <div class="row justify-content-center">
            <label>Broj neurona za {{i+1}}. sloj</label> 
              <ngx-number-spinner class="Brojac" formControlName="BrojNeurona"
                    [value]='item.value.BrojNeurona' 
                    (change)='change($event,i)' 
                    [min]='0' 
                    [max]='8'> 
              </ngx-number-spinner> 
          </div>
          <div class="row justify-content-center">
            <div class="col-md-auto">
              <mat-form-field appearance="fill" class="selektorAktivacioneFje">
                <mat-label>Aktivaciona funkcija</mat-label>
                <mat-select formControlName="AktivacionaFunkcija">
                  <mat-option value="relu">
                    relu
                  </mat-option>
                  <mat-option value="linear">
                    linear
                    </mat-option>
                    <mat-option value="tanh">
                      tanh
                  </mat-option >
                </mat-select>
              </mat-form-field>
              <!-- {{SelektovanaVrednost}} -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </form> 
</div>

