::ng-deep .cuppa-dropdown{
    width: 350px;
}

::ng-deep #MultiselectIzlazneKolone .cuppa-dropdown{
    width: 250px;
}

::ng-deep #TipEnkodiranjaSelektor{
    width: 170px;
    
}

::ng-deep #TipEnkodiranjaSelektor .mat-form-field-infix{
    background-color: white;
}
::ng-deep #BrojSkrivenihSlojevaSelektor{
    margin: auto;
    color: white;
    
    
}

.Brojac{
    margin: auto;
    color: white;
}