::ng-deep .cuppa-dropdown{
    width: 350px;
}

::ng-deep #MultiselectIzlazneKolone .cuppa-dropdown{
    width: 250px;
    
}
::ng-deep #MultiselectIzlazneKolone .cuppa-dropdown label{
    width: 250px;
    color: black;
}

::ng-deep .selektorAktivacioneFje{
    width: 100%;
}

::ng-deep .selektorAktivacioneFje .mat-form-field-infix{
    background-color: white;
}
::ng-deep .selektorAktivacioneFje .mat-form-field-flex{
    background-color: white;
    margin-top: 2px;
}

::ng-deep #BrojSkrivenihSlojevaSelektor{
    margin: auto;
    color: white;  
}
#TreciRed{
    margin-top: 10px;
}

.Brojac{
    margin: auto;
    color: white;
}

::ng-deep #slajderZaPodatke span{
    color: white;
}

::ng-deep #selektorBrojEpoha mat-form-field{
    background-color: white;
}