
<div class="container">
  <form [formGroup]="forma" #FormaZaHParametre>
    <div class="row justify-content-center" id="prviRedParametara"> 
      
        <div class="col-md-auto">
          <mat-form-field appearance="fill" class="selektorAktivacioneFje">
            <mat-label>Tip problema</mat-label>
            <mat-select formControlName="TipProblema">
              <mat-option value="regresija" [disabled]="regresija">
                Regresija
              </mat-option>
              <mat-option value="binarna_klasifikacija" [disabled]="binarna_klasifikacija">
                Binarna klasifikacija
              </mat-option>
              <mat-option value="klasifikacija" [disabled]="klasifikacija">
                Klasifikacija
              </mat-option>
            </mat-select>
            <mat-error *ngIf="TipProblema && TipProblema.invalid">Izaberite tip problema</mat-error>
          </mat-form-field>
        </div>
        <!-- Ako je regresija -->
        <div class="col-md-auto" *ngIf="TipProblema.value=='regresija'">
          <mat-form-field appearance="fill" class="selektorAktivacioneFje">
            <mat-label>Metrika gubitka</mat-label>
            <mat-select formControlName="MeraGreske" (selectionChange)="updateMeraGreske($event)">
              <mat-option value="mean_squared_error">
                Srednja kvadratna greška
              </mat-option>
              <mat-option value="mean_absolute_percentage_error">
                Srednja apsolutna procentna greška
              </mat-option>
              <mat-option value="mean_absolute_error">
                Srednja apsolutna greška
              </mat-option>
              <mat-option value="mean_squared_logarithmic_error">
                Srednja kvadratna logaritamska greška
              </mat-option>
              <mat-option value="huber">
                Huber
              </mat-option>
              <mat-option value="log_cosh">
                Log-Cosh
              </mat-option>
            </mat-select>
            <mat-error *ngIf="MeraGreske && MeraGreske.invalid">Izaberite tip problema</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-auto" *ngIf="TipProblema.value=='regresija'">
          <mat-form-field appearance="fill" class="selektorAktivacioneFje">
            <mat-label>Dodatna metrika</mat-label>
            <mat-select formControlName="MeraUspeha">
              <mat-option value="mean_squared_error">
                Srednja kvadratna greška
              </mat-option>
              <mat-option value="mean_absolute_percentage_error">
                Srednja apsolutna procentna greška
              </mat-option>
              <mat-option value="mean_absolute_error">
                Srednja apsolutna greška
              </mat-option>
              <mat-option value="mean_squared_logarithmic_error">
                Srednja kvadratna logaritamska greška
              </mat-option>
              <mat-option value="log_cosh">
                Log-Cosh
              </mat-option>
            </mat-select>
            <mat-error *ngIf="MeraUspeha && MeraUspeha.invalid">Izaberite tip problema</mat-error>
          </mat-form-field>
        </div>

        <!-- Ako je  binarna klasifikacija -->
        <div class="col-md-auto" *ngIf="TipProblema.value=='binarna_klasifikacija'">
          <mat-form-field appearance="fill" class="selektorAktivacioneFje">
            <mat-label>Metrika gubitka</mat-label>
            <mat-select formControlName="MeraGreske" (selectionChange)="updateMeraGreske($event)">
              <mat-option value="binary_crossentropy">
                Binarna krosentropija
              </mat-option>
              <mat-option value="kl_divergence">
                K-L divergencija
              </mat-option>
            </mat-select>
            <mat-error *ngIf="MeraGreske && MeraGreske.invalid">Izaberite tip problema</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-auto" *ngIf="TipProblema.value=='binarna_klasifikacija'">
          <mat-form-field appearance="fill" class="selektorAktivacioneFje">
            <mat-label>Dodatna metrika</mat-label>
            <mat-select formControlName="MeraUspeha">
              <mat-option value="accuracy">
                Tačnost
              </mat-option>
              <mat-option value="binary_accuracy">
                Binarna tačnost
              </mat-option>
              <mat-option value="binary_crossentropy">
                Binarna krosentropija
              </mat-option>
              <mat-option value="kl_divergence">
                K-L divergencija
              </mat-option>
            </mat-select>
            <mat-error *ngIf="MeraUspeha && MeraUspeha.invalid">Izaberite tip problema</mat-error>
          </mat-form-field>
        </div>
        <!-- Ako je  viseklasna klasifikacija -->
        <div class="col-md-auto" *ngIf="TipProblema.value=='klasifikacija'">
          <mat-form-field appearance="fill" class="selektorAktivacioneFje">
            <mat-label>Metrika gubitka</mat-label>
            <mat-select formControlName="MeraGreske" (selectionChange)="updateMeraGreske($event)">
              <mat-option value="categorical_crossentropy">
                Kategorijska krosentropija
              </mat-option>
              <mat-option value="kl_divergence">
                K-L divergencija
              </mat-option>
            </mat-select>
            <mat-error *ngIf="MeraGreske && MeraGreske.invalid">Izaberite tip problema</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-auto" *ngIf="TipProblema.value=='klasifikacija'">
          <mat-form-field appearance="fill" class="selektorAktivacioneFje">
            <mat-label>Dodatna metrika</mat-label>
            <mat-select formControlName="MeraUspeha">
              <mat-option value="accuracy">
                Tačnost
              </mat-option>
              <mat-option value="categorical_accuracy">
                Kategorijska tačnost
              </mat-option>
              <mat-option value="categorical_crossentropy">
                Kategorijska krosentropija
              </mat-option>
              <mat-option value="kl_divergence">
                K-L divergencija
              </mat-option>
            </mat-select>
            <mat-error *ngIf="MeraUspeha && MeraUspeha.invalid">Izaberite tip problema</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-auto">
          <mat-form-field appearance="fill" class="selektorAktivacioneFje">
            <mat-label>Stopa učenja</mat-label>
            <mat-select formControlName="StopaUcenja">
              <mat-option value="0.00001">
                0.00001
              </mat-option>
              <mat-option value="0.0001">
                0.0001
              </mat-option>
              <mat-option value="0.001">
                0.001
              </mat-option>
              <mat-option value="0.003">
                0.003
              </mat-option>
              <mat-option value="0.01">
                0.01
              </mat-option>
              <mat-option value="0.03">
                0.03
              </mat-option>
              <mat-option value="0.1">
                0.1
              </mat-option>
              <mat-option value="0.3">
                0.3
              </mat-option>
              <mat-option value="1">
                1
              </mat-option>
              <mat-option value="3">
                3
              </mat-option>
              <mat-option value="10">
                10
              </mat-option>
            </mat-select>
            <mat-error *ngIf="StopaUcenja && StopaUcenja.invalid">Izaberite stopu učenja</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-auto">
          <mat-form-field appearance="fill" class="selektorAktivacioneFje">
            <mat-label>Stopa učenja</mat-label>
            <mat-select formControlName="VelicinaBatch">
              <mat-option value="1">
               1
              </mat-option>
              <mat-option value="2">
                2
              </mat-option>
              <mat-option value="4">
                4
              </mat-option>
              <mat-option value="8">
                8
              </mat-option>
              <mat-option value="16">
                16
              </mat-option>
              <mat-option value="32">
                32
              </mat-option>
              <mat-option value="64">
                64
              </mat-option>
              <mat-option value="128">
                128
              </mat-option>
              <mat-option value="256">
                256
              </mat-option>
              <mat-option value="512">
                512
              </mat-option>
            </mat-select>
            <mat-error *ngIf="StopaUcenja && StopaUcenja.invalid">Izaberite stopu učenja</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-auto">
          <mat-form-field appearance="fill" class="selektorAktivacioneFje">
            <mat-label>Broj epoha</mat-label>
            <input matInput type="number" formControlName="BrojEpoha" min="{{MinBrojEpoha}}">
            <mat-error *ngIf="BrojEpoha.errors?.['required']">
              Unesite broj epoha
            </mat-error>
            <mat-error *ngIf="BrojEpoha.errors?.['min']">
              Najmanji broj epoha je {{MinBrojEpoha}}
            </mat-error>
            <mat-error *ngIf="BrojEpoha.errors?.['max']">
              Maksimalni broj epoha je {{MaxBrojEpoha}}
            </mat-error>
            
          </mat-form-field>
        </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-5" id="ProcenatPodataka">
        <h4 style="text-align: center;color: white;">Procenat podataka za testiranje</h4>
        <ngx-slider [(value)]="value" [options]="options" id="slajderZaPodatke" formControlName="odnosPodataka"></ngx-slider>
      </div>
    </div>
    

    <div class="row justify-content-center" style="margin-top: 10px;">
      <div class="col-md-auto" id="BrojSkrivenihSlojevaSelektor">
        <label>Izaberi broj skrivenih slojeva</label>
        <div class="row justify-content-center" id="RedZaBrojac">
          <div class="col-6">
            <ngx-number-spinner class="Brojac" 
              [value]="trenutniBrojSkrivenihSlojeva.value"
              (change)="change($event,-2)"
              [min]="minBrojSkrivenihSlojeva"
              [max]="maxBrojSkrivenihSlojeva">
            </ngx-number-spinner>
          </div>
          <div class="col-6" id="brojSkrivenihSlojeva" [formGroup]="forma2">
            <input matInput type="number" [value]="trenutniBrojSkrivenihSlojeva.value" formControlName="trenutniBrojSkrivenihSlojeva" [min]="minBrojSkrivenihSlojeva"
            [max]="maxBrojSkrivenihSlojeva" (ngModelChange)="change($event,-1)">
          </div>
        </div>
        
      </div>
    </div>

    <div class="row justify-content-center" id="TreciRed" formArrayName="ListaSkrivenihSlojeva">
      <div id="Sloj" class="col-lg-15 col-md-auto m-1" *ngFor="let item of ListaSkrivenihSlojeva.controls ;index as i;" >
        <div [formGroupName]="i">
          <div class="row justify-content-center">
            <label>Sloj {{i+1}}</label> 
            <div class="row justify-content-center" style="margin-top: 10px;">
              <div class="col-6">
                <ngx-number-spinner class="Brojac" formControlName="BrojNeurona"
                  [value]="item.value.BrojNeurona"
                  (change)="change($event,i)"
                  [min]="0"
                  [max]="8">
                </ngx-number-spinner>
              </div>
              <div class="col-6" id="brojSkrivenihSlojeva">
                <input matInput type="number" formControlName="BrojNeurona" [min]="0" [value]="item.value.BrojNeurona"
                [max]="8" (ngModelChange)="change($event,i)">
              </div>
            </div>
              
          </div>
          <div class="row justify-content-center">
            <div class="col-md-auto">
              <mat-form-field appearance="fill" class="selektorAktivacioneFje">
                <mat-label>Aktivaciona funkcija</mat-label>
                <mat-select formControlName="AktivacionaFunkcija">
                  <mat-option value="relu">
                    Relu
                  </mat-option>
                  <mat-option value="linear">
                    Linear
                    </mat-option>
                    <mat-option value="tanh">
                      Tanh
                  </mat-option >
                  <mat-option value="elu">
                    Elu
                  </mat-option>
                  <mat-option value="exponential">
                    Exponential
                    </mat-option>
                    <mat-option value="softmax">
                      Softmax
                  </mat-option >
                  <mat-option value="sigmoid">
                    Sigmoid
                    </mat-option>
                    <mat-option value="softsign">
                      Softsign
                  </mat-option >
                  <mat-option value="selu">
                    Selu
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <!-- {{SelektovanaVrednost}} -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </form> 
</div>

