<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-multiple"
  name="Spiner1"
>
  <p style="font-size: 20px; color: white">Login...</p>
</ngx-spinner>


<video disablePictureInPicture [muted]="true" autoplay playsinline loop id="myVideo">
  <source src="assets/pozadina.mp4" type="video/mp4">
</video>
<div class="jumbotron vertical-center">
  <div class="window">
    <div class="row justify-content-center">
      <div class="col-md-auto">
        <h1 style="font-size:3rem;">Prijava</h1>
      </div>
    </div>
    <hr>
    <form novalidate #form="ngForm" (submit)="onSubmit(form)">
      <div class="row justify-content-center">          
        <div class="col-md-auto FormaZaIzmenuPodatakaOKorisniku">
            <label class="form-label">Korisničko ime</label>
            <input type="text" class="form-control" name="username" #username="ngModel" [(ngModel)]="service.formData.username"
            required pattern="^[a-zA-Z][a-zA-Z0-9\.]*" [class.invalid]="username.invalid && username.touched" placeholder="example:user123" minlength="5" maxlength="25">
            <div *ngIf="username.invalid && username.touched"
                  class="alert">

                <p class="alert alert-danger" *ngIf="username.errors?.['required']">
                  Korisničko ime je obavezno.
                </p>
                <p class="alert alert-danger"  *ngIf="username.errors?.['pattern'] || username.errors?.['minlength'] ||username.errors?.['maxlength']">
                  Neispravno korisničko ime.
                </p>
                

              </div>
        </div>
      </div>
      <div class="row justify-content-center">          
        <div class="col-md-auto FormaZaIzmenuPodatakaOKorisniku">
          <label class="form-label">Šifra</label>
          <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="service.formData.password" 
          required minlength="5" [class.invalid]="password.invalid && password.touched" placeholder="*****"
          >
          <div *ngIf="password.invalid && password.touched"
            class="alert">
            <p class="alert alert-danger"  *ngIf="password.errors?.['required']">
              Šifra nije uneta.
            </p>
            <p class="alert alert-danger"  *ngIf="password.errors?.['minlength']">
              Šifra nije validna.
            </p>
          </div>
        </div>  
      </div>  
      <div class="row justify-content-center">          
        <div class="col-md-auto">
          <div id="akaunt">
            <button type="submit" id="dugme" class="btn btn-primary " [disabled]="form.invalid">Prijava</button><br>
            Nemate nalog?<a routerLink="/signup">Registracija</a>
          </div>
        </div>
      </div>
      
      
    </form>
              
                
  </div> 
</div>

        
    


