#header{
    backdrop-filter:blur(15px) brightness(90%);
}
#moj{
    
    text-align: center;
}
#moj li a{
    color: white;
   
}
#moj li a:hover{
    background-color: #3E5E86;
    transition: 1s;
    opacity: 1;
}
/*trenutna strana*/
.current
{
    background-color: #0d6efd;
    border:2px solid #0d6efd;
    border-radius: 20px 0px;
}



#isti img{
    clip-path: circle();
}
#isti{
    cursor: pointer;
    color: white;
}
.dropdown-content{
      
    position: relative;
     background: #F4FAFF;
     width: 200px;
     transition: 2s;
     float:right;
     border-radius: 7px;
     top:50px;
     right:10px;
     
 }
 .dropdown-content ul{
     padding: 0;
     margin: 0;
 }
 .dropdown-content ul li{
     list-style: none;
     padding:15px 15px 15px 15px;
     border-top: 2px solid rgba(0,0,0,0.05);
     align-items: center;
     display: flex;
 }
 .dropdown-content ul li img{
     max-width: 30px;
     margin-right: 5px;
     opacity: 0.5;
     transition: 0.5s;
     cursor: pointer;
 }
 .dropdown-content ul li a{
    text-align: center;
     text-decoration: none;
     color: grey;
     font-weight: 700;
     transition: 0.5s;
     cursor: pointer;
 }
 .dropdown-content ul li:hover img{
     opacity: 1;
 }
 .dropdown-content ul li:hover a{
   color:#002e4c;
}
.username a:hover{
    background-color: red;
}
#logo{
    max-width: 25%;
}
#logo:hover{
    cursor: pointer;
}
.navbar-toggler{
    color: rgba(255, 255, 255, 0);
    border: 1px solid white;
}
.navbar-toggler span{
    background-image:url("../../../../assets/image/meniIkona.png");

}
#dropDownMojNalog{
    background-color: #013054;
    margin: auto;
    position: absolute;
    min-width: 100%;
    padding: 0;
}
#dropDownMojNalog a{
    padding: 0.5em;
    width: fit-content;
    min-width: 100%;
}
.nav-link.dropdown-toggle.show{
    background-color: #013054;
}
.razmak{
    border-bottom: 1px solid white;
}

#mojNalog{
    margin: auto;
}
#mojNalog img{
    margin-right: 3px;
    width: 2em;height: 2em;
}
#mojNalogDropdown{
    text-align: center;
}

#dropDownElement{
    margin: auto;
    text-overflow: ellipsis;
    width: fit-content;
    cursor: pointer;
}
#dropDownElement img{
    margin-right: 3px;
    width: 1.5em;height: 1.5em;
    filter: invert(1);
}

@media (max-width:767px){
    #logo{
        max-width: 45%;
    }
    #header{
        backdrop-filter:blur(30px) brightness(40%);
    }
    #dropDownMojNalog{
        text-align: center;
        position: static;
    }
    #dropDownMojNalog a p{
        margin: auto;
    }
    #navbarDropdownMenuLink{
        margin: auto;
        width: auto;
    }
}
