
<nav class="navbar navbar-expand-lg navbar-light" id="header">
     
    
    <div class="container-fluid" *ngIf="!login_ind">
      
      <img routerLink="/" src="../../../../assets/image/igrANNOnica.png" class="img-fluid" id="logo" >  
      
      <button class="navbar-toggler" type="button" (click)="NavBarOpen()" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="moj1" [ngClass]="{'show':navOpen}">
        <div class="navbar-nav me-auto">
        </div>
        <ul class="navbar-nav navbar-right" id="moj">
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/signup">Register</a>
            </li>
          </ul>
      </div>
    
    </div>
    <div class="container-fluid" *ngIf="login_ind">
        
        <img routerLink="/" src="../../../../assets/image/igrANNOnica.png" class="img-fluid" id="logo" >  
        
        
        
        <div class="menu-container" clickOutside (clickOutside)="clickedOutside()" >
           
                
            <div class="profile" id="isti" >
                <img [src]="url" (click)="openMenu()"  >
            </div>
            
            
            <div class="dropdown-content" *ngIf="isMenuOpened" >
                <ul>
                    <li><img src="assets/image/mojprofil.png"><a routerLink="/MojNalog">Moj profil</a></li>
                    <li><img src="assets/image/odjava2.png"><a (click)="logout()">Odjavi se</a></li>
                </ul>
              
            </div>
        </div>
    </div>
  </nav>