
<button class="navigator previous" (click)="previous()" style="height: 100%;"><</button> 
<button class="navigator next" routerLink="/training" style="height: 100%;">></button> 

<div class="container" style="height: 100%;">
    <br>
    <div class="row justify-content-center">
        <div class="col-md-auto">
            <table id="tabela" class="table table-condensed table-striped" >
                <thead>
                    <tr>
                        
                        <th>Naziv kolone</th>
                        <th>Tip podataka</th>
                        <th>Broj Praznih polja</th>
                        <th colspan="2">Opcije</th>
                        
                    </tr>
                </thead>
                <tbody *ngFor="let pr of prazna;let item of kolone;let tip of kategorije;let st of stats;index as i">
                    <tr  data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                        <td class="veciFont">{{kolone[i]}}</td>
                        <td class="veciFont">{{kategorije[i]}}</td>
                        <td class="veciFont">{{prazna[i]}}</td>
                        <td><button class="btn btn-dark" *ngIf="collapse[i]==0" (click)="prikazi(i)" >Vise</button>
                        <button class="btn btn-dark" *ngIf="collapse[i]==1" (click)="smanji(i)" >Manje</button></td>
                        <td><button class="btn btn-dark" (click)="obrisi(i)">Brisi!</button></td>
                    </tr>
                    <tr *ngIf="collapse[i]==1">
                        <td colspan="5"><div id="demo1">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td>Mesto za izbor</td>
                                        <td [innerHTML]="stats[i]"></td>
                                        <td>
                                            <button class="btn btn-dark" (click)="iscrtajGraf($event)" value="{{kolone[i]}}" >Prikazi graf!</button>                                          
                                                <div id="divChart">
                                                    <canvas id={{kolone[i]}}></canvas>
                                                </div> 
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div></td>
                    </tr>
            </tbody>
            </table>
        </div>
    </div>
    <br>
    <!--<div class="row justify-content-center">
        <div class="col-md-auto">
            <div id="divChart">
                <canvas id="myChart"></canvas>
            </div> 
        </div>
    </div> -->
        
           
       
</div>

