
.prikaz{
    width: 180px;
    height: 50px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.content
{
   width: 100%;
   height: calc(100vh - 70px - 75px);
}

/*probaj nekako da ubacis ovaj deo u zajedinicki css*/
.navigator
{
  position: absolute;
  border: 0;
  min-width: 2vh;
  max-width: 10vh;
  min-height: 90%;
  opacity: 0.2;
  font-size: 50px;
  background: rgba(196, 196, 196);
}
.previous{
 left: 0;
}
.next
{
  right: 0;
}
.navigator:hover
{
  background: rgba(196, 196, 196);
  opacity: 0.7;
  transition: 0.4s;
}
table{
  background-image: linear-gradient(to bottom right, #023E8A, #002e4c);
  color:white;
    
 }

 td{
     font-size: 15px; 
 }
 .veciFont{
   font-size: 20px;
 }

 #divChart{
    background-color: transparent;
    width: 100%;
 }


 section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}


section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  .hiddenRow {
    padding: 0 !important;
}

::ng-deep .cuppa-dropdown{
  width: 350px;
}

::ng-deep #MultiselectIzlazneKolone .cuppa-dropdown{
  width: 250px;
}

::ng-deep #TipEnkodiranjaSelektor{
  width: 170px;
  
}

::ng-deep #TipEnkodiranjaSelektor .mat-form-field-infix{
  background-color: white;
}


::ng-deep #MultiselectIzlazneKolone .cuppa-dropdown label{
  width: 250px;
  color: black;
}
.modal-body,.modal-header,.modal-footer {
  background-image: linear-gradient(to left top, #03045e, #011167, #001d70, #002778, #003180, #003781, #003c82, #004183, #00437d, #004577, #004570, #044669);
  color: white;
}
:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: white ;
}
:host ::ng-deep  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #011167 ;
}
:host ::ng-deep  .mat-slide-toggle .mat-slide-toggle-thumb {
  background-color: #003781 ;
}
input[type=checkbox] {
  transform: scale(1.5);

}
::ng-deep .TipEnkodiranjaSelektor2 .mat-select-value{    
  color: white!important;  }


.statistic-top   ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #001d70; 
    border-radius: 3px; 
  }


.correlation-matrix
{
  background-image: linear-gradient(to bottom right, #023E8A, #002e4c);
    color: white;
  max-height: 409px;
  
}
#korel{
  width:100%;
  height: 100%;
}
#dialog{
  position: relative;
  float: right;
  max-width: 10%;
  max-height: 10%;
  text-align: center;
}
#korelText{
  position: relative;
  float: left;
  font-size: 20px;
}
#napusti{
  max-width: 14%;
  max-height: 5%;
  font-size: 70%;
  text-align: center;
}
#korel2{
  max-height: 90%;
  width: 100%;
}


