
  
  <div class="row container-fluid">
    <div class="col-1">
  <div class="wrapper-arrow wrapper-left" (click)="previous()">
  <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="prev" transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
          <polygon class="arrow" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
          <polygon class="arrow-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
          <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
      </g>
  </svg>
</div> 
</div>
<div class="">
<div class="container" style="height: 100%;">
  <div class="row h-auto pb-3 m-0 current-page text-center w-100">
    <div class="col">
        <button id="custom-tooltip" mat-raised-button matTooltip=
          "Na strani Statistika korisnik može da pogleda statistiku po kolonama kao i da odabere ulazne i izlaznu kolonu kao i tip enkodiranja za kategorijske kolone koje će biti potrebne u daljem procesu treniranja."
              matTooltipPosition="below">
          Pregled statistike i izbor ulaznih/izlaznih kolona<img src="assets/image/info_icon.png">
      </button>
    </div>
  </div>
    <br>
    <div class="row statistic-top d-flex justify-content-between">
      <div class="col-lg-7 col-md-7 col-sm-12">
    <div class="table-responsive ">
      <table  id="tabela3" class="table m-0 table-bordered border-primary"> 
        <tr >
          <th *ngFor="let item of kolone;index as i">{{kolone[i]}}</th>
        </tr>
        <tr>
          <td  *ngFor="let pr of prazna;let item of kolone;let tip of kategorije2;index as i"> 
            <div *ngIf="kategorije2[i]=='Numericki'">
              <tr>
                <td>
                  Srednja vrednost   
                </td>
                <td>
                  &nbsp;&nbsp;{{statistika['numericke_kolone'][i]['prosek']}}
                </td>
              </tr>

              <tr>
                <td>
                  Standardna devijacija  
                </td>
                <td >
                  &nbsp;&nbsp;{{statistika['numericke_kolone'][i]['standardna_devijacija']}}
                </td>
              </tr>
              <tr>
                <td>
                  Minimum
                </td>
                <td>
                  &nbsp;&nbsp;{{statistika['numericke_kolone'][i]['minimum']}}
                </td>
              </tr>
              <tr>
                <td>
                  Prvi kvartal
                </td>
                <td>
                  &nbsp;&nbsp;{{statistika['numericke_kolone'][i]['prvi_kvartal']}}
                </td>
              </tr>
              <tr>
                <td>
                  Medijana
                </td>
                <td>
                  &nbsp;&nbsp;{{statistika['numericke_kolone'][i]['drugi_kvartal']}}
                </td>
              </tr>
              <tr>
                <td>
                  Treći kvartal
                </td>
                <td>
                  &nbsp;&nbsp;{{statistika['numericke_kolone'][i]['treci_kvartal']}}
                </td>
              </tr>
              <tr>
                <td>
                  Maksimum
                </td>
                <td>
                  &nbsp;&nbsp;{{statistika['numericke_kolone'][i]['maximum']}}
                </td>
              </tr>
              <tr>
                <td>
                  Broj autlajera
                </td>
                <td>
                  &nbsp;&nbsp;{{statistika['numericke_kolone'][i]['broj_autlajera']}}
                </td>
              </tr>
            </div>
            <!--</table> -->
            <div *ngIf="kategorije2[i]=='Kategorijski'">
              <tr>
                <td>
                  Broj jedinstvenih polja
                </td>
                <td>
                  &nbsp;&nbsp;{{statistika['kategoricke_kolone'][i-statistika['numericke_kolone'].length]['broj_jedinstvenih_polja']}}
                </td>
              </tr>
              <tr>
                <td>
                  Najčešća vrednost
                </td>
                <td>
                  &nbsp;&nbsp;{{statistika['kategoricke_kolone'][i-statistika['numericke_kolone'].length]['najcesca_vrednost']}}
                </td>
              </tr>
              <tr>
                <td>
                  Najveći broj ponavljanja
                </td>
                <td>
                  &nbsp;&nbsp;{{statistika['kategoricke_kolone'][i-statistika['numericke_kolone'].length]['najveci_broj_ponavljanja']}}
                </td>
              </tr>
            </div>
          </td>
        </tr>
        <tr>
          <td *ngFor="let item of kolone;index as i">
            <div>
                    <div id="divChart">
                        <canvas  id={{kolone[i]}} ></canvas>
                    </div> 
                  </div>
          </td>
        </tr>  
      </table>
      
    </div>
  </div>
  <div class="col-lg-4 col-md-5 col-sm-12 correlation-matrix">
    ovde ide korelaciona matrica
  </div>
  </div>
    <div class="row w-100 d-flex mt-5 m-0 justify-content-center">
        <div class="table-responsive top-table p-0" >
            <table id="tabela" class="table table-condensed table-striped" >
                <thead>
                    <tr>
                        
                        <th>Naziv kolone</th>
                        <th>Tip podataka</th>
                        <th>Broj praznih polja</th>
                        <th>Ulazne kolone:</th>
                        <th>Izlazna kolona:</th>
                        
                    </tr>
                </thead>
                <tbody *ngFor="let pr of prazna;let tip of kategorije;let item of kolone;index as i">
                    <tr>
                        <td class="veciFont" style="color:white">{{kolone[i]}}</td>
                        <td>
                          <div class="col-md-auto" >
                              <mat-form-field appearance="fill" class="TipEnkodiranjaSelektor2">
                                <mat-select  id="TipEnkodiranjaSelektor" [(value)]="kategorije[i]" placeholder="Mode">
                                  <mat-option  value="Numericki">
                                      Numerički
                                  </mat-option>
                                  <mat-option value="Kategorijski">
                                    Kategorijski
                                    </mat-option>
                                </mat-select>
                              </mat-form-field>
                              <!-- {{SelektovanaVrednost}} -->
                            </div>
                            <div class="col-md-auto" *ngIf="kategorije[i]=='Kategorijski'">
                              <mat-form-field appearance="fill" class="TipEnkodiranjaSelektor2" >
                                <mat-select  id="TipEnkodiranjaSelektor" [(value)]="selected[i]" >
                                  <mat-option value="one_hot">
                                      OneHot
                                  </mat-option>
                                  <mat-option  value="multi_hot">
                                      MultiHot
                                    </mat-option>
                                    <mat-option  value="count">
                                      Count
                                  </mat-option >
                                </mat-select>
                              </mat-form-field>
                              <!-- {{SelektovanaVrednost}} -->
                            </div>
                      </td>
                        <td class="veciFont" style="color:white">{{prazna[i]}}</td>
                        <td><mat-slide-toggle id={{i}} (change)="dajUlazne(i,$event)" [checked]="cekiranaUlazna[i]" ></mat-slide-toggle></td>
                        <td><mat-slide-toggle id="izlazna{{i}}" (change)="dajIzlaznu(i,$event)" [checked]="cekiranaIzlazna[i]"></mat-slide-toggle></td>
                    </tr>
                    
            </tbody>
            </table>
            
        </div>
      </div>
    
    <br>   
</div>
</div>
<div class="col-1">
  <div class="wrapper-arrow wrapper-right" (click)="next()">
    <svg width="18px" height="17px" viewBox="-1 0 18 17" version="1.1" >
        <g>
            <polygon class="arrow" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
            <polygon class="arrow-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
            <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
        </g>
    </svg>
  </div> 
</div>

</div>