
button{
    width: 180px;
    height: 50px;
    border: 1px solid #000000;
    box-sizing: border-box;
}
button:focus{
    background-color:dimgrey;
}

.content
{
   width: 100%;
   height: calc(100vh - 70px - 75px);
}

/*probaj nekako da ubacis ovaj deo u zajedinicki css*/
.navigator
{
  position: absolute;
  border: 0;
  width: 100px;
  height: calc(100vh - 70px - 75px);
  opacity: 0.2;
  font-size: 50px;
  background: rgba(196, 196, 196);
}
.previous{
 left: 0;
}
.next
{
    right: 0;
}
.navigator:hover
{
  background: rgba(196, 196, 196);
  opacity: 0.7;
  transition: 0.4s;
}
table{
    position: relative;
    float:left;
    top:60px;
    
    max-width: 40%;
    left: 100px;
    height: auto;
    max-height: 400px;
    overflow-y:scroll;
    overflow-x: scroll;
    display: block;
    


    background: rgba(196, 196, 196, 0.7);
    
 }
 th,td{
     height: 50px;
     width: 300px;
 }
 td{
     font-size: 10px;

     
 }
 #divChart{
    position:relative;
    float: right;
    top:60px;
    width:40%;
    height:40%;
 }
