<div class="container" id="Container1">
    <div class="row justify-content-center">
        Podesavanja prvog i drugog modela
    </div>
    <div class="row justify-content-center">
        <div class="col-md-9 m-1" style="height: 400px;background-color: #16355D;">
            <!-- <ngx-charts-line-chart
                [results]="signalR.podaciZaGrafik"
                [legend]="legenda"
                [showXAxisLabel]="prikaziXlabel"
                [showYAxisLabel]="prikaziYlabel"
                [xAxisLabel]="xLabela"
                [yAxisLabel]="yLabela"
                [yAxis]="yOsa"
                [xAxis]="xOsa"
                [curve]="linija"
                [showGridLines]="signalR.PrikaziLinije"
                [autoScale]="true"
                [animations]="false"
            >
            </ngx-charts-line-chart>
        </div>
        <div class="col-md-9 m-1" style="height: 400px;background-color: #16355D;">
            <ngx-charts-line-chart
                [results]="signalR.podaciZaGrafik"
                [legend]="legenda"
                [showXAxisLabel]="prikaziXlabel"
                [showYAxisLabel]="prikaziYlabel"
                [xAxisLabel]="xLabela"
                [yAxisLabel]="yLabela"
                [yAxis]="yOsa"
                [xAxis]="xOsa"
                [curve]="linija"
                [showGridLines]="signalR.PrikaziLinije"
                [autoScale]="true"
                [animations]="false"
            >
            </ngx-charts-line-chart>
        </div> -->
    </div>

</div>
