.opcijeModela{
    background-image: linear-gradient(to bottom right, #023E8A, #002e4c);
    color: #9ec9ff;
    padding: 4px;
    width: fit-content;
    height: 100%;
}


.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, min-content);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 15px;
    
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 2 / 1 / 3 / 2; }
    .div4 { grid-area: 2 / 2 / 3 / 3; }
    .div5 { grid-area: 3 / 1 / 4 / 2; }
    .div6 { grid-area: 3 / 2 / 4 / 3; }
    .div7 { grid-area: 4 / 1 / 5 / 2; }
    .div8 { grid-area: 4 / 2 / 5 / 3; }
    .div9 { grid-area: 5 / 1 / 6 / 2; }
    .div10 { grid-area: 5 / 2 / 6 / 3; }
    .div11 { grid-area: 6 / 1 / 7 / 2; }
    .div12 { grid-area: 6 / 2 / 7 / 3; }
    .div13 { grid-area: 7 / 1 / 8 / 2; }
    .div14 { grid-area: 7 / 2 / 8 / 3; }
    .div15 { grid-area: 8 / 1 / 9 / 2; }
    .div16 { grid-area: 8 / 2 / 9 / 3; }
    .div17 { grid-area: 9 / 1 / 10 / 2; }
    .div18 { 
        grid-area: 9 / 2 / 10 / 3; 
        padding: 0px;
    }
    .div18 p{
        border: 1px #00cfff dotted;
        padding: 2px;
        margin-bottom: 3px;
    }

.parent div{
    border: 1px #00cfff dotted;
    padding: 3px;
    color: #9ec9ff;
}

.OpisModela{
    margin: auto;
    text-align: center;
}




#PoljeZaUnos ::ng-deep span.ngx-checkmark::after{
    content: "";
    position: absolute;
    display: block;
    left: 4px;
    top: 5px;
    width: 12px;
    height: 7px;
    border: 1px solid #ffffff;
    border-width: 0 3px 3px 0;
    transform: scaleX(-1) rotate(45deg);
}
#PoljeZaUnos ::ng-deep .ngx-checkmark-wrapper{
    opacity: 0;
    
}
#PoljeZaUnos ::ng-deep .custom-drag{
    padding: 0;
    padding-bottom: 8px;
    margin-bottom: 8px;
}
#PoljeZaUnos {
    max-width: 70%;
    border-radius: 10px;
    margin: auto;
    height: fit-content;
}

#PoljeZaUnos ::ng-deep .files-preview-wrapper{
    height: 0px;
}

#KlikniZaIzborDugme{
    margin: auto;
    text-align: center;
    font-size: 26px;
    margin-top: 5px;
    max-width: 90%;
    
 }
#KlikniZaIzborDugme .mat-raised-button{
    height: 10%;
    padding: 1% 3%;
}

#KlikniZaIzborDugme .dugme2 img{
    filter: brightness(3);
}

::ng-deep .ngx-charts { 
    fill: white; 
}

::ng-deep .legend-title-text{
    color: white; 
}

.grafik{
    background-image: linear-gradient(to bottom right, #023E8A, #002e4c);
    min-height: 360px;
    margin-top: 20px;
    height: 60vh;
    max-height: 800px;
    width: 100%;
}

#OpcijeZaGrafikDiv{
    background-color: #16355D;
    
    
    padding: 10px;
    margin-top: 16px;
}
#OpcijeZaGrafikDiv div{
    padding: 3px; 
}
.modal-body,.modal-header,.modal-footer {
    background-image: linear-gradient(to left top, #013054,#013054, #013054, #013054, #013054, #013054, #013054, #013054, #013054,#013054, #013054, #013054);
    color: white;
  }
  .modal-footer #preuzmiModel {
    float: left;
  }


::ng-deep .selektorAktivacioneFje{
    width: 100%;
}

::ng-deep .selektorAktivacioneFje .mat-form-field-infix{
    background-color: white;
}
::ng-deep .selektorAktivacioneFje .mat-form-field-flex{
    background-color: white;
    margin-top: 2px;
}