/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
*{
    margin:0;
    padding: 0;
}


body{
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;
    background: url('./e6553da20abc6b8cd20b644ec9522f6c.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

  input.invalid{
      border-color:red;
  }
