<div class="jumbotron vertical-center">
    <div class="window FormaZaIzmenuPodatakaOKorisniku">
        <form [formGroup]="forma">
            <div class="row justify-content-center" style="margin-bottom: 10px;" >
                <div class="col-md-auto d-flex justify-content-center kolona" *ngIf="selectedFile==null">
                    <ngx-awesome-uploader  id="PoljeZaUnos"
                    #uploader
                    [adapter]="adapter"
                    [fileMaxCount]="1"
                    [fileMaxSize]="MaksVelicinaFajla"
                    [uploadType]="'Single'"
                    [enableCropper]="true"
                    [cropperOptions]="cropperOptions"
                    (validationError)="onValidationError($event)"
                    [fileExtensions]="['jpg','png','gif','jpeg']"
                    (uploadSuccess)="onUploadSuccess($event)"
                    (removeSuccess)="onRemoveSuccess($event)"
                    (fileAdded)="onFileAdded($event)"
                    [captions]="captions"
                    [accept]="'.jpg, .png,.gif,.jpeg'"
                    [itemTemplate]="myItemTemplate"
                    [enableAutoUpload]="false"
                    >
                    <div class="dropzoneTemplate">
                        <div class="d-flex justify-content-center">
                        <img src="../../assets/image/drag-and-drop-Za-Sliku.png" class="img-fluid" alt="Responsive image">
                        </div>
                    </div>
                    </ngx-awesome-uploader>
                    <ng-template
                    #myItemTemplate
                    let-fileItem="fileItem"
                    let-uploadProgress="uploadProgress"
                    style="height: 0px;"
                    >
                    </ng-template>
                </div>
                <div class="col-md-auto kolona" *ngIf="selectedFile!=null" id="kolonaZaSliku">
                    <img src="{{url}}" class="img-fluid" id="KorisnickaSlika">
                </div>
            </div>
            <div class="row justify-content-center" *ngIf="selectedFile!=null" style="margin-top: 10px;">
                <button type="button" id="dugme2" class="btn btn-primary dugmeAnimacija" (click)="IzbrisiSliku()">Promeni sliku</button><br>
            </div> 
            <div class="row justify-content-center" style="height: fit-content;">
                <div class="col-md-auto kolona">
                    <mat-form-field appearance="fill">
                        <mat-label>Username</mat-label>
                        <input  matInput formControlName="Username" (cdkAutofill)="false" >
                        <mat-error *ngIf="Username.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>    
            </div>
            <div class="row justify-content-center" >
                <div class="col-md-auto kolona">
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="Email">
                        <mat-error *ngIf="Email.invalid">{{getErrorMessage2()}}</mat-error>
                    </mat-form-field>
                </div>
                
            </div>
            <div class="row justify-content-center">
                <div class="col-md-auto kolona">
                    <mat-form-field appearance="fill">
                        <mat-label>Unesite novu sifru</mat-label>
                        <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="NoviPassword">
                        <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                          <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-auto kolona">
                    <mat-form-field appearance="fill">
                        <mat-label>Unesite staru sifru</mat-label>
                        <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="StariPassword">
                        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                          <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="StariPassword.invalid">{{getErrorMessage3()}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <hr>
            <button class="dugme btn" mat-raised-button color="primary" (click)="posaljiZahtev()" >Sacuvaj izmene</button>
        </form>
    </div>
</div>
