
<ngb-accordion #acc="ngbAccordion" >
    <ngb-panel title="Unesite CSV fajl:">
      <ng-template ngbPanelContent>
        <p>Unesite fajl koji zelite:</p>

        <input class="aa" type="file" accept=".csv" (change)="onFileChange($event)" multiple="false" />
        <button (click)="posaljiFajl()">click!</button>
        <table class="table table-striped">
            <tbody>
                <tr >
                  <th *ngFor="let item of data[0]">{{item}}</th>
                </tr>
                <tr *ngFor="let row of data |slice:1:50;index as i">
                    <td *ngFor="let cell of row;index as j ">
                        <input id="{{i}},{{j}}" type="text" value="{{cell}}">
                        
                        <button type="button" class="btn btn-primary" (click)="izmena(i,j)">Change</button>
                    </td>
                </tr>
                
            </tbody>
            
        </table>
        <p>Izaberite kolone za testiranje: </p>
        <ul id="checkbox-items">
          <li *ngFor="let item of data[0];index as i">
            <input type="checkbox" id="{{i}}">{{item}}
          </li>
        </ul>
        <button type="button" class="btn btn-primary">Submit</button>
        <!-- | paginate: { itemsPerPage: 40, currentPage: p } -->
        <!--<pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>-->
        
      </ng-template>
    </ngb-panel>

  </ngb-accordion>