        <div  id="input">
        <p>Unesite fajl koji zelite:</p>

        <input type="file" accept=".csv" (change)="onFileChange($event)" multiple="false" />
      </div>
        <button id="next" (click)="posaljiFajl()">></button>
        <table class="table table-striped">
            <tbody>
                <tr >
                  <th *ngFor="let item of data[0]"  >{{item}}</th>
                  
                </tr>
                <tr *ngFor="let row of data |slice:1:50;index as i">
                    <td *ngFor="let cell of row;index as j ">
                        <input id="{{i}},{{j}}" style="border:0" type="text" value="{{cell}}">
                    </td>
                      <td><button type="button" class="btn btn-primary">Change</button></td>
                      <td><button type="button" class="btn btn-primary ">Delete</button></td>
                      <td><input type="text" value="{{i}}" hidden></td>
                </tr>
                
            </tbody>
            
        </table>
        <!--<p>Izaberite kolone za testiranje: </p>
        <ul id="checkbox-items">
          <li *ngFor="let item of data[0];index as i">
            <input type="checkbox" id="{{i}}">{{item}}
          </li>
        </ul>
        <button type="button" class="btn btn-primary">Submit</button> -->
        <!-- | paginate: { itemsPerPage: 40, currentPage: p } -->
        <!--<pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>-->
        