<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="line-scale"
  name="Spiner1"
>
  <p style="font-size: 20px; color: white">Ucitavanje fajla...</p>
</ngx-spinner>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="timer"
  name="Spiner2"
  
>
  <p style="font-size: 20px; color: white">Obrada podataka...{{procenatUploada}} %</p>
</ngx-spinner>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="timer"
  name="Spiner3"
  
>
  <p style="font-size: 20px; color: white">Obrada statistike...</p>
</ngx-spinner>
<!-- LEVA STRELICA
  <div class="wrapper wrapper-left">
  <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="prev" transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
          <polygon class="arrow" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
          <polygon class="arrow-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
          <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
      </g>
  </svg>
</div>
-->
<div class="wrapper-arrow wrapper-right" *ngIf="podaci && podaci.length>0" (click)="uploadFile()">
  <svg width="18px" height="17px" viewBox="-1 0 18 17" version="1.1" >
      <g>
          <polygon class="arrow" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
          <polygon class="arrow-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
          <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
      </g>
  </svg>
</div>
<div class="container">

  <div class="container statistic">
    
    <div class="row justify-content-center">
      <div class="col-md-4" *ngIf="podaci.length<1">
        <ngx-awesome-uploader  id="PoljeZaUnos"
        #uploader
        [adapter]="adapter"
        [fileMaxCount]="1"
        [fileMaxSize]="MaksVelicinaFajla"
        [uploadType]="'Single'"
        [enableCropper]="true"
        [cropperOptions]="cropperOptions"
        (validationError)="onValidationError($event)"
        [fileExtensions]="['csv','xls']"
        (uploadSuccess)="onUploadSuccess($event)"
        (removeSuccess)="onRemoveSuccess($event)"
        (fileAdded)="onFileAdded($event)"
        [captions]="captions"
        [accept]="'.xls, .csv'"
        [itemTemplate]="myItemTemplate">
        <div class="dropzoneTemplate">
          <div class="d-flex justify-content-center">
            <img src="../../assets/image/drag-and-drop-Ikonica.png" class="img-fluid" alt="Responsive image">
          </div>
          <div class="d-flex justify-content-center" id="KlikniZaIzborDugme">
            <button class="dugme2 dugmeAnimacija" mat-raised-button color="primary">
              <img src="../../assets/image/klikni za izbor dugme.png" class="img-fluid" alt="Responsive image">
            </button>
          </div>
        </div>
        </ngx-awesome-uploader>
        
      </div>
      
    </div>


    <div class="row justify-content-center" *ngIf="podaci.length>0">
        <div class="col-sm-auto" >
          <div id="fajl">
            <div class="parent">
              <div class="div1">
                <img src="../../assets/image/csvFajlIkona.jpg" class="img-fluid" alt="Responsive image">
              </div>
              <div class="div2">
                <div class="parent2">
                  <div class="div1">{{imeFajla}}</div>
                  <div class="div2">{{(VelicinaFajla/1000000).toFixed(2)}}MB</div>
                </div>
              </div>
              <div class="div3">
                <a (click)="izbrisiFajl()">
                  <img src="../../assets/image/KorpaIkona.png" class="img-fluid" alt="Responsive image">
                </a>
              </div>
            </div>
          </div>
        </div>
        
    </div>


    <ng-template
      #myItemTemplate
      let-fileItem="fileItem"
      let-uploadProgress="uploadProgress"
      style="height: 0px;"
    >
    </ng-template>

    <div class="grid-wrapper" *ngIf="podaci.length>0" [formGroup]="forma" id="tabela">
      <div class="row justify-content-center" style="margin-top: 10px;">
        <div class="col-md-auto m-1 d-flex justify-content-center">
          <button class="dugme2 dugmeAnimacija" id="dugmeIznadTabele" mat-raised-button color="primary" (click)="izbrisiSelektovano()">Obriši selektovano</button>
        </div>
        <div class="col-md-auto m-1 d-flex justify-content-center">
          <button class="dugme2 dugmeAnimacija" id="dugmeIznadTabele" mat-raised-button color="primary" (click)="skiniFajl()">Preuzmi fajl</button>
        </div>
      </div>
      <ag-grid-angular style="height: 520px;" class="ag-theme-alpine-dark" [rowData]="RedoviPodaci"
        [columnDefs]="KoloneDef" [pagination]="true" [paginationPageSize]="brojElemenataNaStrani"
        [rowSelection]="rowSelection" [animateRows]="true" (gridReady)="onGridReady($event)"
        (gridColumnsChanged)="onGridColumnsChanged($event)">
      </ag-grid-angular>
      <div id="brojacStrane">
        Trenutna strana <input matInput  type="number" formControlName="trenutnaStrana" [min]="minStrana" [max]="maxStrana" (ngModelChange)="PromenaStrane($event)">
      </div>
      
    </div>
  </div>
</div>
