
<div class="mb-3">
    <label for="formFile" class="form-label">Dodaj csv fajl</label>
    <input class="form-control" type="file" #file id="uploadData" multiple="false" accept=".csv" (change)="onFileSelected($event)">
</div>
<div style="width: 800px;" class="grid-wrapper" *ngIf = "podaci">
    <button type="button" class="btn btn-dark" (click)="izbrisiSelektovano()">Obrisi selektovano</button>
    <button type="button" class="btn btn-dark" (click)="skiniFajl()">Download</button>
    <button class="navigator next" (click)="posaljiFajl()">></button>
    <br>
    <ag-grid-angular
            style="height: 520px;"
            class="ag-theme-alpine-dark"
            [rowData]="RedoviPodaci"
            [columnDefs]="KoloneDef"
            [pagination]="true"
            [paginationPageSize]="brojElemenataNaStrani"
            [rowSelection]="rowSelection"
            [animateRows]="true"
            (gridReady)="onGridReady($event)"
            >
    </ag-grid-angular>
</div>