<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="line-scale"
  name="Spiner1"
>
  <p style="font-size: 20px; color: white">Ucitavanje fajla...</p>
</ngx-spinner>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="timer"
  name="Spiner2"
  
>
  <p style="font-size: 20px; color: white">Obrada podataka...{{procenatUploada}} %</p>
</ngx-spinner>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="timer"
  name="Spiner3"
  
>
  <p style="font-size: 20px; color: white">Obrada statistike...</p>
</ngx-spinner>



<div class="container">
  <button class="navigator next" (click)="uploadFile()" *ngIf="podaci && podaci.length>0" style="height: 100%;">></button><!--
  <div class="arrow" (click)="uploadFile()" *ngIf="podaci && podaci.length>0" style="height: 100%;">
    <span></span>
    <span></span>
    <span></span>

  </div>
  -->
  <div class="container statistic">
    
    <div class="row justify-content-center">
      <div class="col-md-4" *ngIf="podaci.length<1">
        <ngx-awesome-uploader  id="PoljeZaUnos"
        #uploader
        [adapter]="adapter"
        [fileMaxCount]="1"
        [fileMaxSize]="MaksVelicinaFajla"
        [uploadType]="'Single'"
        [enableCropper]="true"
        [cropperOptions]="cropperOptions"
        (validationError)="onValidationError($event)"
        [fileExtensions]="['csv','xls']"
        (uploadSuccess)="onUploadSuccess($event)"
        (removeSuccess)="onRemoveSuccess($event)"
        (fileAdded)="onFileAdded($event)"
        [customValidator]="myCustomValidator"
        [captions]="captions"
        [accept]="'.xls, .csv'"
        [itemTemplate]="myItemTemplate">
        <div class="dropzoneTemplate">
          <div class="d-flex justify-content-center">
            <img src="../../assets/image/drag-and-drop-Ikonica.png" class="img-fluid" alt="Responsive image">
          </div>
          <div class="d-flex justify-content-center" id="KlikniZaIzborDugme">
            <button class="dugme2 dugmeAnimacija" mat-raised-button color="primary">
              <img src="../../assets/image/klikni za izbor dugme.png" class="img-fluid" alt="Responsive image">
            </button>
          </div>
        </div>
        </ngx-awesome-uploader>
        
      </div>
      
    </div>


    <div class="row justify-content-center" *ngIf="podaci.length>0">
        <div class="col-sm-auto" >
          <div id="fajl">
            <div class="parent">
              <div class="div1">
                <img src="../../assets/image/csvFajlIkona.jpg" class="img-fluid" alt="Responsive image">
              </div>
              <div class="div2">
                <div class="parent2">
                  <div class="div1">{{imeFajla}}</div>
                  <div class="div2">{{(VelicinaFajla/1000000).toFixed(2)}}MB</div>
                </div>
              </div>
              <div class="div3">
                <a (click)="izbrisiFajl()">
                  <img src="../../assets/image/KorpaIkona.png" class="img-fluid" alt="Responsive image">
                </a>
              </div>
            </div>
          </div>
        </div>
        
    </div>


    <ng-template
      #myItemTemplate
      let-fileItem="fileItem"
      let-uploadProgress="uploadProgress"
      style="height: 0px;"
    >
    </ng-template>

    <div class="grid-wrapper" *ngIf="podaci.length>0">
      <button type="button" class="btn btn-dark" (click)="izbrisiSelektovano()">Obrisi selektovano</button>
      <button type="button" class="btn btn-dark" (click)="skiniFajl()">Download</button>
      <br>
      <ag-grid-angular style="height: 520px;" class="ag-theme-alpine-dark" [rowData]="RedoviPodaci"
        [columnDefs]="KoloneDef" [pagination]="true" [paginationPageSize]="brojElemenataNaStrani"
        [rowSelection]="rowSelection" [animateRows]="true" (gridReady)="onGridReady($event)"
        (gridColumnsChanged)="onGridColumnsChanged($event)">
      </ag-grid-angular>
    </div>
  </div>
</div>
