<ngx-spinner name="Spiner1" bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p style="color: white;margin-top: 5%;"> Registracija korisnika... </p></ngx-spinner>


<video disablePictureInPicture [muted]="true" autoplay playsinline loop id="myVideo">
  <source src="assets/pozadina.mp4" type="video/mp4">
</video>
<div class="jumbotron vertical-center">
  <div class="window">
    <div class="row justify-content-center">
      <div class="col-md-auto">
        <h1 style="font-size:3rem;">Register</h1>
      </div>
    </div>
    <hr>
    <div class="row justify-content-center">
      <div class="col-md-auto FormaZaIzmenuPodatakaOKorisniku" *ngIf="selectedFile==null">
        <ngx-awesome-uploader  id="PoljeZaUnos"
          #uploader
          [adapter]="adapter"
          [fileMaxCount]="1"
          [fileMaxSize]="MaksVelicinaFajla"
          [uploadType]="'Single'"
          [enableCropper]="true"
          [cropperOptions]="cropperOptions"
          (validationError)="onValidationError($event)"
          [fileExtensions]="['jpg','png','gif','jpeg']"
          (uploadSuccess)="onUploadSuccess($event)"
          (removeSuccess)="onRemoveSuccess($event)"
          (fileAdded)="onFileAdded($event)"
          [captions]="captions"
          [accept]="'.jpg, .png,.gif,.jpeg'"
          [itemTemplate]="myItemTemplate"
          [enableAutoUpload]="false"
          >
          <div class="dropzoneTemplate">
            <div class="d-flex justify-content-center">
              <img src="../../assets/image/drag-and-drop-Za-Sliku.png" class="img-fluid" alt="Responsive image">
            </div>
          </div>
        </ngx-awesome-uploader>
        <ng-template
          #myItemTemplate
          let-fileItem="fileItem"
          let-uploadProgress="uploadProgress"
          style="height: 0px;"
        >
        </ng-template>
      </div>
      <div class="col-md-auto kolona" *ngIf="selectedFile!=null" id="kolonaZaSliku">
        <img src="{{url}}" class="img-fluid" id="KorisnickaSlika">
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="selectedFile!=null" style="margin-top: 10px;">
      <button type="button" id="dugme2" class="btn btn-primary dugmeAnimacija" (click)="IzbrisiSliku()">Izbriši sliku</button><br>
    </div>  
    <form novalidate #form="ngForm" (submit)="onSubmit1(form)">
      <div class="row justify-content-center">
        <div class="col-md-auto FormaZaIzmenuPodatakaOKorisniku">
          
                      
            <div class="mb-4">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" name="username" #username="ngModel" [(ngModel)]="service.formdata.username" 
                placeholder="example:user123" pattern="^[a-zA-Z][a-zA-Z0-9\.]*" required [class.invalid]="username.touched && username.invalid" minlength="5" maxlength="30">
                <div *ngIf="username.invalid && username.touched"
                      class="alert">

                    <p class="alert alert-danger" *ngIf="username.errors?.['required']">
                      Username is required.
                    </p>
                    <p class="alert alert-danger" *ngIf="username.errors?.['pattern']">
                      Username can not start with numbers or contain special characters.
                    </p>
                    <p class="alert alert-danger" *ngIf="username.errors?.['minlength']">
                      Username must contain at least 5 characters.
                    </p>
                    <p class="alert alert-danger" *ngIf="username.errors?.['maxlength']">
                      Username can not contain more than 30 characters.
                    </p>

                  </div>
              </div>
              <div class="mb-4">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" name="email" #email="ngModel" [(ngModel)]="service.formdata.email"
                required placeholder="example:user@gmail.com" [class.invalid]="email.touched && email.invalid"
                pattern="^[a-zA-Z0-9]+([\.\-\+][a-zA-Z0-9]+)*\@([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}$">
              <div *ngIf="email.invalid && email.touched"
                class="alert">

              <p class="alert alert-danger" *ngIf="email.errors?.['required']">
                Email is required.
              </p>
              <p class="alert alert-danger" *ngIf="email.errors?.['pattern']">
                It's not proper email.
              </p>

            </div>
              </div>
            
            <div class="mb-4">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="service.formdata.password" 
              required minlength="5" [class.invalid]="password.touched && password.invalid" placeholder="*****">
              <div *ngIf="password.invalid && password.touched"
                class="alert">

              <p class="alert alert-danger" *ngIf="password.errors?.['required']">
                Password is required.
              </p>
              <p class="alert alert-danger" *ngIf="password.errors?.['minlength']">
                Password must contains at least 5 characters.
              </p>

            </div>
            </div>
            
            
            <div class="akaunt">
              <button type="submit" id="dugme" class="btn btn-primary" [disabled]="form.invalid">Registruj se</button><br>
              Već imate nalog?<a routerLink="/login">Prijavi se</a>
            </div>
          
        </div>
      </div>
    </form>              
                
  </div> 
</div>
