<div class="container">
    <h3 class="d-flex justify-content-center">Add new game</h3>
    <form class="w-50  d-flex-col justify-content-center m-auto" (submit)="addGame()">
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input [(ngModel)]="game_name" name="game_name"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Description</label>
          <input type="text" [(ngModel)]="desc" name="desc" class="form-control" id="exampleInputPassword1" >
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Price</label>
            <input type="number" [(ngModel)]="price" name="price" class="form-control" id="exampleInputPassword1" >
          </div>
          <div id="center-button" class="text-center">
        <button type="submit d-flex justify-content-center" class="btn btn-primary mt-3">Add game</button>
      </div>
      </form>
</div>
