#tabela ::ng-deep .ag-theme-alpine-dark .ag-root-wrapper{
    background-color: #00294c;
}

#tabela ::ng-deep .ag-theme-alpine-dark .ag-header{
    background-color: #00294c;
}

#tabela ::ng-deep .ag-theme-alpine-dark .ag-row{
    background-color: #053259;
}
#tabela ::ng-deep .ag-theme-alpine-dark .ag-row-odd{
    background-color: #063966;
}


#tabela ::ng-deep .ag-root-wrapper-body.ag-layout-normal.ag-focus-managed{
    height: fit-content;
    width: fit-content;
}
#tabela ::ng-deep .ag-root.ag-unselectable.ag-layout-normal{
    height: fit-content;
    width: fit-content;
}

#tabela ::ng-deep .ag-theme-alpine-dark{
    overflow-x: auto;
}

#tabela ::ng-deep .ag-root-wrapper.ag-layout-normal.ag-ltr{
    width: fit-content;
}

#tabela ::ng-deep .locked-col {
    background: #002546;
  }

  .modal-body,.modal-header,.modal-footer {
    background-image: linear-gradient(to left top, #013054,#013054, #013054, #013054, #013054, #013054, #013054, #013054, #013054,#013054, #013054, #013054);
    color: white;
  }

  h1{
      color: white;
  }

  #nemaModel{
      text-align: center;
  }

  #preuzmiModel{
    position: fixed;
    left: -2%;
}

.tabelaDugme{
    background-color: red;
}