
<div class="container-fluid w-100 h-100">
  <div class="display-2 text-light text-center mt-5">Tim ANNon</div>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="container py-5">
      <div class="row text-center d-flex justify-content-center align-items-center">

        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img
              src="assets/image/jelena_petrovic.jpg" alt="" width="150"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0 text-size">Jelena Petrović</h5><span class="small text-uppercase text-muted lider">Tim lider</span><br>
            <span class="small text-uppercase text-muted">Machine learning developer</span>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center gap-4 align-items-center text-center">

        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img
              src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" width="150"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0 text-size">Dušan Borisavljević</h5><span class="small text-uppercase text-muted">Frontend
              developer</span>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img
              src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" width="150"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0 text-size">Nikola Spasojević</h5><span class="small text-uppercase text-muted">Frontend
              developer</span>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img
              src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" width="150"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0 text-size">Andrija Lazić</h5><span class="small text-uppercase text-muted">Frontend i backend developer</span>
          </div>
        </div>

      </div>
      <div class="row d-flex justify-content-center gap-4 align-items-center text-center">
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img
              src="assets/image/stefan_janicijevic.jpg" alt="clan" width="150"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0 text-size">Stefan Janićijević</h5><span class="small text-uppercase text-muted">Backend
              developer</span>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4 team"><img
              src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" width="150"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0 text-size">Dušan Stevanović</h5><span class="small text-uppercase text-muted">Machine learning
              developer</span>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
