<div class="header w-100 h-auto d-flex justify-content-lg-end">
  <nav class="navbar navbar-expand-lg pt-lg-3 mx-lg-5 navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item  mx-lg-2">
          <a class="nav-link text-light" routerLink="/test">Pocetna</a>
        </li>
        <li class="nav-item current mx-lg-2">
          <a class="nav-link text-light" routerLink="/team">Tim ANNon</a>
        </li>
        <li class="nav-item mx-lg-2">
          <a class="nav-link text-light" routerLink="/login">Prijava</a>
        </li>
        <li class="nav-item  mx-lg-2">
          <a class="nav-link text-light" routerLink="/signup">Registracija</a>
        </li>
      </ul>
    </div>
  </nav>
</div>


<div class="container-fluid w-100 h-100">
  <div class="display-2 text-light text-center mt-5">Tim ANNon</div>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="container py-5">
      <div class="row text-center d-flex justify-content-center align-items-center">

        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img
              src="assets/image/jelena_petrovic.jpg" alt="" width="150"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0 text-size">Jelena Petrović</h5><span class="small text-uppercase text-muted lider">Tim lider</span><br>
            <span class="small text-uppercase text-muted">Machine learning developer</span>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center gap-4 align-items-center text-center">

        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img
              src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" width="150"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0 text-size">Dušan Borisavljević</h5><span class="small text-uppercase text-muted">Frontend
              developer</span>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img
              src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" width="150"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0 text-size">Nikola Spasojević</h5><span class="small text-uppercase text-muted">Frontend
              developer</span>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img
              src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" width="150"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0 text-size">Andrija Lazić</h5><span class="small text-uppercase text-muted">Frontend developer</span>
          </div>
        </div>

      </div>
      <div class="row d-flex justify-content-center gap-4 align-items-center text-center">
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img
              src="assets/image/stefan_janicijevic.jpg" alt="clan" width="150"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0 text-size">Stefan Janićijević</h5><span class="small text-uppercase text-muted">Backend
              developer</span>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4 team"><img
              src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" width="150"
              class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0 text-size">Dušan Stevanović</h5><span class="small text-uppercase text-muted">Machine learning
              developer</span>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
