#Container1{
    background-image: linear-gradient(to bottom right, #023E8A, #002e4c);
    padding: 20px;
}

::ng-deep .ngx-charts { 
    fill: white; 
}

::ng-deep .legend-title-text{
    color: white; 
}

#OpcijeZaGrafikDiv{
    background-color: #16355D;
    margin-left: 5px;
}

.mat-button-disabled{
    color: red;
}

.modal-content{
    background-color: red;
}
.modal-body,.modal-header,.modal-footer {
    background-image: linear-gradient(to left top, #013054,#013054, #013054, #013054, #013054, #013054, #013054, #013054, #013054,#013054, #013054, #013054);
    color: white;
  }

#preuzmiModel{
    position: fixed;
    left: -2%;
}
#customTable{
    background-color:#023E8A;
    border: 2px solid black;
    text-align: center;
}

#customTable td{
    border: 2px solid black;
    color: white;
}
#customTable th{
    border: 2px solid black;
    color: white;
}
#dugmeSpecijalno{
    margin-bottom: 5px;
}
