#Container1{
    background: #000428;  
    background: -webkit-linear-gradient(to top, #004e92ed, #000428ed);  
    background: linear-gradient(to top, #004e92ed, #000428ed);
    padding: 20px;
}

::ng-deep .ngx-charts { 
    fill: white; 
}

::ng-deep .legend-title-text{
    color: white; 
}

#OpcijeZaGrafikDiv{
    background-color: #000428ed;
    margin-left: 5px;
}

.mat-button-disabled{
    color: red;
}

.modal-content{
    background-color: red;
}
.modal-body,.modal-header,.modal-footer {
    background-image: linear-gradient(to left top, #013054,#013054, #013054, #013054, #013054, #013054, #013054, #013054, #013054,#013054, #013054, #013054);
    color: white;
  }

#preuzmiModel{
    position: fixed;
    left: -2%;
}
#customTable{
    background-color:#023E8A;
    border: 2px solid black;
    text-align: center;
}

#customTable td{
    border: 2px solid black;
    color: white;
}
#customTable th{
    border: 2px solid black;
    color: white;
}
#dugmeSpecijalno{
    margin-bottom: 5px;
}

#tabela ::ng-deep .ag-theme-alpine-dark .ag-root-wrapper{
    background-color: #00294c;
}

#tabela ::ng-deep .ag-theme-alpine-dark .ag-header{
    background-color: #00294c;
}

#tabela ::ng-deep .ag-theme-alpine-dark .ag-row{
    background-color: #053259;
}
#tabela ::ng-deep .ag-theme-alpine-dark .ag-row-odd{
    background-color: #063966;
}


#tabela ::ng-deep .ag-root-wrapper-body.ag-layout-normal.ag-focus-managed{
    height: fit-content;
    width: fit-content;
}
#tabela ::ng-deep .ag-root.ag-unselectable.ag-layout-normal{
    height: fit-content;
    width: fit-content;
}

#tabela ::ng-deep .ag-theme-alpine-dark{
    overflow-x: auto;
}

#tabela ::ng-deep .ag-root-wrapper.ag-layout-normal.ag-ltr{
    width: fit-content;
}

#tabela ::ng-deep .locked-col {
    background: #002546;
  }

#tabela{
    margin-top: 10px;
}

#grafik{
    min-height: 500px;
    height: 60vh;
    background-color: #000428ed;

    border-radius: 10px;
}

@media (max-width:767px) {
    #grafik{
        height: 40vh;
    }
}

