<ng-template #content2 let-modal class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Obaveštenje</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Odaberite način na koji želite da vaš model bude sačuvan.</p>
  </div>
  <div class="modal-footer">
    <button type="button" id="preuzmiModel" class="dugme dugmeAnimacija" mat-raised-button color="primary" (click)="modal.close('Close click');preuzmiModel()">Preuzmi model</button>
    <button type="button" class="dugme dugmeAnimacija" mat-raised-button color="primary" (click)="modal.dismiss('Cross click');cuvajModelNaNalogu(content3);">Sačuvaj na nalogu</button>
  </div>
</ng-template> 

<ng-template #content3 let-modal1 class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Unesite potrebne parametre</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal1.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body" id="unosFajla">
   Naziv fajla<input type="text" [(ngModel)]="nazivFajla" id="dugmeSpecijalno"><br>
   <p class="mb-0">Opis</p><textarea cols="25" rows="5" [(ngModel)]="opis"></textarea >
  </div>
  <div class="modal-footer">
    <button type="button" class="dugme dugmeAnimacija" mat-raised-button color="primary" (click)="modal1.dismiss('Cross click');cuvajModelNaNalogu2()">Sačuvaj</button>
  </div>
</ng-template> 

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="line-scale"
  name="Spiner1"
>
  <p style="font-size: 20px; color: white">Treniranje će početi uskoro. Molimo Vas sačekajte!</p>
</ngx-spinner>

<div class="row h-auto pb-3 m-0 current-page text-center w-100">
  <div class="col">
      <button id="custom-tooltip" mat-raised-button matTooltip=
        "Na trenutnoj stranici korisnik ima mogućnost biranja parametara koji su neophodni za treniranje neuronske mreže. Svi parametri su već unapred podešeni kako bi 
        početnici mogli uspešno trenirati mrežu bez mnogo predznanja, dok napredniji korisnici mogu sami menjati parametre u zavisnosti od njihove potrebe. Klikom na dugme
        'Počni sa treniranjem' korisnik pokreće proces treniranja neuronske mreže i u realnom vremenu na grafiku ima uvid u proces treniranja. Po završetku treniranja korisnik ima
        mogućnost da sačuva model(ako ima napravljen nalog može sačuvati model na nalogu, dok ukoliko nema nalog njegov model može preuzeti i čuvati na vlastitoj mašini.).
        Klikom na dugme 'Uporedi model' korisnik prelazi na sledeći korak."
            matTooltipPosition="below">
        Izbor parametara i treniranje neuronske mreže<img src="assets/image/info_icon.png">
    </button>
  </div>

</div>

<div class="row">
  
  <div class="col-1 position-relative">
    <div class="fixed position-fixed h-100">
    <div class="wrapper-arrow wrapper-left" (click)="previous()">
      <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="prev" transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
              <polygon class="arrow" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
              <polygon class="arrow-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
              <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
          </g>
      </svg>
    </div> 
  </div>
  </div>
  <div class="col-10">
<div class="container" id="Container1">
    <app-izbor-parametara (newItemEvent)="ispis($event)" (novaMeraGreskeEvent)="novaMeraGreske($event)"></app-izbor-parametara>
    
    <div class="container" style="margin-top: 20px;" >
        <div class="row justify-content-center">
            <div class="col-xxl-9 col-md-12 m-1" id="grafik">
                <ngx-charts-line-chart
                    [results]="signalR.podaciZaGrafik"
                    [legend]="legenda"
                    [showXAxisLabel]="prikaziXlabel"
                    [showYAxisLabel]="prikaziYlabel"
                    [xAxisLabel]="xLabela"
                    [yAxisLabel]="yLabela"
                    [yAxis]="yOsa"
                    [xAxis]="xOsa"
                    [curve]="linija"
                    [showGridLines]="signalR.PrikaziLinije"
                    [autoScale]="true"
                    [animations]="false"
                >
                </ngx-charts-line-chart>
            </div>
            <div class="col-xxl-2 col-md-12 rounded-sm m-1" id="OpcijeZaGrafikDiv">
                <div class="col-md-auto">
                    <label>Opcije za grafik</label>
                </div> 
                <div class="col-md-auto">
                    <mat-slide-toggle [checked]="checked1" (change)="cekiranPrikazGridLinije($event)">Prikazi grid linije</mat-slide-toggle>
                </div>
                <div class="col-md-auto">
                    <mat-form-field appearance="fill" class="selektorAktivacioneFje">
                        <mat-label>Curve tip</mat-label>
                        <mat-select (selectionChange)="promenaCurve($event)">
                          <mat-option value="curveBasis">
                            curveBasis
                          </mat-option>
                          <mat-option value="curveLinear">
                            curveLinear
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>

                <button class="dugme dugmeAnimacija" mat-raised-button color="primary" (click)=Testiranje() [disabled]="StanjeDugmeta">Test</button>

            </div>
        </div> 
        <div class="row m-auto w-100 d-flex justify-content-center">
        <div class="col-md-auto justify-content-center" *ngIf="!StanjeDugmeta2" [formGroup]="forma" id="tabela">
          <ag-grid-angular id="agTabela" class="ag-theme-alpine-dark" [rowData]="RedoviPodaci"
              [columnDefs]="KoloneDef" [pagination]="true" [paginationPageSize]="brojElemenataNaStrani"
              [rowSelection]="rowSelection" [animateRows]="true" (gridReady)="onGridReady($event)"
              (gridColumnsChanged)="onGridColumnsChanged($event)"
              [suppressDragLeaveHidesColumns]="true">
          </ag-grid-angular>
      </div>
    </div> 
        <div class="row justify-content-center gx-3" style="margin-top: 20px;">

            <div class="col-md-auto justify-content-center">
              <button class="dugme dugmeAnimacija" mat-raised-button color="primary" (click)=SendtoBack() [disabled]="StanjeDugmeta">Počni sa treniranjem</button>
            </div>
            <div class="col-md-auto justify-content-center">
              <button class="dugme dugmeAnimacija" mat-raised-button color="primary" id="cuvajDugme" (click)="prikaziRezultate(content2)"  [hidden]="StanjeDugmeta2">Sačuvaj rezultate</button>
            </div>
            <div class="col-md-auto justify-content-center">
              <button class="dugme dugmeAnimacija" mat-raised-button color="primary" (click)="uporediModele()" [hidden]="StanjeDugmeta2">Uporedi model</button>
            </div> 
        </div>
    </div>
</div>
</div>
<div class="col-1 position-relative">
  
</div>
</div>
