<app-izbor-parametara></app-izbor-parametara>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-auto">
            <ngx-charts-line-chart
                [results]="PodaciZaGrafik"
                
            >
            </ngx-charts-line-chart>
        </div>
        
    </div>  
    <div class="row justify-content-center">
        <div class="col-md-2">
            <button (click)="SendtoBack()">Start Training</button>
        </div>
    </div>
</div>
